.overlay{
    /*position: fixed;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url('../img/karel_background.jpg') no-repeat center;
    background-size: cover;
    /*opacity: 0.75;*/
}
.overlay2{
    /*position: fixed;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    background: #1abc9c;
    background-size: cover;
    opacity: 0.7;
}