/* ----------------------------------------- */
/* --------------GENERAL BLOCK-------------- */
/* ----------------------------------------- */

body {
    overflow: hidden;
    background-color: black;
}

#renderer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 23em;
}

.vertical-text {
    transform: rotate(-90deg);
    transform-origin: right top 0;
}

/* ------------------------------------------ */
/* --------------SIDEBAR BLOCK--------------- */
/* ------------------------------------------ */

#sidebar {
    position: absolute;
    width: 23em;
    top: 0;
    bottom: 0;
    right: 0;
}

.tab {
    position: absolute;
    width: 100%;
    height: 100%;
    transition-timing-function: linear;
    transition-duration: 0.5s;
}

.tab-title {
    font-size: 2em;
    padding: 0.4em 0;
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 6px 19px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 6px 19px 0px rgba(0,0,0,0.22);
    box-shadow: 0px 6px 19px 0px rgba(0,0,0,0.22);
}

.glyph#home-glyph {
    background: url('../img/circles/browser.svg') center center no-repeat;
}

.glyph#editor-glyph {
    background: url('../img/circles/circlecompass.svg') center center no-repeat;
}

.glyph#manual-glyph {
    background: url('../img/circles/dev.svg') center center no-repeat;
}

.glyph#team-glyph {
    background: url('../img/circles/star.svg') center center no-repeat;
}

.glyph#user-glyph {
    background: url('../img/circles/profile.svg') center center no-repeat;
}

#fullscreen-editor-btn {
    height: 25px;
    width: 7em;
    background-color: rgb(86, 140, 189);
    border-color: rgb(86, 140, 189);
    border-top-left-radius: 8px;
    position: relative;
    left: -8.3em;
    color: white;
    text-align: center;
    opacity: 0.8;
    cursor: pointer;
}

#fullscreen-editor-btn:hover {
    opacity: 1;
}

/* ------------------------------------------ */
/* ---------------TABS BLOCK----------------- */
/* ------------------------------------------ */

#menu-tab {
    background: #34495e;
}

#menu-tab ul {
    margin-left: 5em;
    height: 100%;
    background: #FFFFFF;
    z-index: 0;
}

#menu-tab li {
    height: 5em;
}

#menu-tab li .glyph {
    float: left;
    width: 5em;
    height: 100%;
    margin-left: -5em;
    background-size: 65% 65%;
}

#menu-tab li a { 
    float: left;
    display: block;
    width: 100%;
    padding: 2em 2em;
    line-height: 1em;
    font-size: 1em;
    color: #34495e;
    transition: none;
}

#menu-tab li:hover * {
    background-color: rgba(0, 0, 0, 0.1);
}




#world-list-tab {
    background: #34495e;
}

#world-list-tab ul {
    margin-left: 3em;
    height: 100%;
    background: #FFFFFF;
    z-index: 0;
}

#world-list-tab li {
    display: block;
    height: 1em;
    padding: 1em 2em;
}

#world-list-tab li .glyph {
    float: left;
    width: 3em;
    height: 3em;
    margin: -1em 0 0 -5em;
    background-size: 50% 50%;
}

#world-list-tab li span { 
    float: left;
    display: block;
    /*width: 100%;*/
    line-height: 1em;
    font-size: 1em;
    color: #34495e;
}

#world-list-tab li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#world-list-tab .sidebar-btn {
    float: right;
    height: 1em;
    width: 1em;
    background: center center no-repeat;
    background-size: 70% 70%;
    cursor: pointer;
}

#world-list-tab .sidebar-btn.edit {
    background-image: url('../img/controls/edit.svg'); 
}

#world-list-tab .sidebar-btn.delete {
    background-image: url('../img/controls/cross.svg'); 
}