/* ----------------------------------------- */
/* --------------GENERAL BLOCK-------------- */
/* ----------------------------------------- */

.play-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.play-block .left {
    float: left;
    width: 70%;
    height: 100%;
}

.play-block #renderer {
    height: 100%;
    background: #CED1CF;
}

#code-editor {
    height: 100%;
    background: #ececec;
}

body canvas{
    position: absolute;
}

/* ------------------------------------------ */
/* --------------CONTOLLS BLOCK-------------- */
/* ------------------------------------------ */

.panel {
    position: relative;
    width: 100%;
    background: #ececec;
    z-index: 100;
}

.play-block .panel *, #controls button, #controls input[type=text] {
    margin: 0.5em 0 0.5em 1em;
    /*font-size: 16px;*/
}

#controls {
    width: 30%;
    height: 100%;
    float: left;
}

#controls input[type=text] {
    height: auto !important;
    size: 3;
}


.karel-code-editor {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.karel-code-editor form {
    height: 100%;
}

.karel-code-editor .code-block .CodeMirror {
    height: 100% !important;
}

.karel-code-editor .code-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
    width: 100%;
}

.karel-code-editor textarea {
    box-sizing: border-box;
    border: 0;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
}

.karel-code-editor textarea:focus {
    outline: none;
}

.karel-code-editor input[type=submit]:focus {
    outline: none;
}

.karel-code-editor input[type=submit] {
    border: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    width: 100%;
    background: #5dade2;
    color: #fff;
    font-size: 18px;
}