/* ----------------------------------------- */
/* --------------GENERAL BLOCK-------------- */
/* ----------------------------------------- */

body {
    overflow: hidden;
    background-color: black;
}

#renderer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 23em;
}

.vertical-text {
    transform: rotate(-90deg);
    transform-origin: right top 0;
}

/* ------------------------------------------ */
/* --------------SIDEBAR BLOCK--------------- */
/* ------------------------------------------ */

#sidebar {
    position: absolute;
    width: 23em;
    top: 0;
    bottom: 0;
    right: 0;
}

.tab {
    position: absolute;
    width: 100%;
    height: 100%;
    transition-timing-function: linear;
    transition-duration: 1s;
}

#fullscreen-editor-btn {
    height: 25px;
    width: 7em;
    background-color: rgb(86, 140, 189);
    border-color: rgb(86, 140, 189);
    border-top-left-radius: 8px;
    position: relative;
    left: -8.3em;
    color: white;
    text-align: center;
    opacity: 0.8;
    cursor: pointer;
}

#fullscreen-editor-btn:hover {
    opacity: 1;
}

/* ------------------------------------------ */
/* --------------CONTOLS BLOCK--------------- */
/* ------------------------------------------ */

#controls {
    position: fixed;
    padding: 0 1em 1em 1em;
}

#controls.top {
    top: 0;
}

#controls.bottom {
    bottom: 0;
}

#controls .row {
    cursor: pointer;
    height: 3em;
    margin-top: 1em;
    opacity: 0.5;
}

#controls .row * {
    display: block;
    float: left;
    margin-right: 1em;
}

#controls .row .button {
    border: 0;
    width: 3em;
    height: 3em;
    background-position: center center;
    background-size: 98% 98%;
    background-repeat: no-repeat;
    line-height: 4em;
    /*
    transition-timing-function: linear;
    transition-duration: 0.1s;
    */
}

#controls span {
    color: #FFFFFF;
    font-size: 1em;
    line-height: 1em;
    margin: 1em 0;
}

#controls .row:hover {
    opacity: 1;
}

#controls .row:hover button {
    background-size: 100% 100%;
}

#menu-btn .button {
    background: url(../img/controls/menu.svg);
}

#code-btn .button {
    background: url(../img/controls/code.svg);
}

#world-list-btn .button {
    background: url(../img/controls/list.svg);
}

#play-pause-btn .button {
    background: url(../img/controls/pause.svg);
}